
<div class="row d-flex">

  <div class="col-md-6 text-end headtext">  

    <h3 class="headcolor">Contact Our</h3>
     <p class="subhead">Customer Support Center</p>
  </div>
  <div class="col-md-6 image-container">
    <img src="./assets/9.png" class="laptopimg" />
  </div>

 

</div>
<!--<div class="row">
  <div class="col-md-6 text-center">
      <h2 class="headcolor">Contact Our</h2><br>
      <h4>Customer Support Center</h4>
  </div>
  <div class="col-md-6">
<div class="d-flex justify-content-start"> 
  <img src="./assets/9.png" alt="Image" class="img-fluid laptopimg"> 
</div> 
</div>
</div>-->
<form class="form-group required">
  <div class="row text-center">
    <h4>Contact Information</h4><br>
    <p>Please fill out your contact information below</p>
  </div>
  <div class="row m-1 p-0">
    <label class="control-label">Name</label><br>
  </div>
  <div class="row m-1">
    <div class="col-md-4">
      
      <input class="form-control" type="text"/>
      <div class="form-text">First name</div>
    
    </div>
    <div class="col-md-4">
      <input class="form-control" type="text"/>
      <div class="form-text">Last name</div>
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-12">
      <label class="control-label">Email</label>
      <input type="email" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-12">
      <label class="control-label">Phone</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-12">
      <label class="control-label">Address</label>
      <input type="text" class="form-control">
    </div>
  </div>
</form>
<router-outlet></router-outlet>
